<ion-view title="Currency">
    <ion-content padding="'true'" class="has-header">
        <ion-list>
            <ion-item menu-close="" class="item-thumbnail-left" href="#/page1/pagegbp">
                <img src="img/GBP.png">
                <h2>British Pound</h2>
                <p>GBP</p>
            </ion-item>
            <ion-item menu-close="" class="item-thumbnail-left" href="#/page1/pageusd">
                <img src="img/USD.png">
                <h2>United States Dollar</h2>
                <p>USD</p>
            </ion-item>
            <ion-item menu-close="" class="item-thumbnail-left" href="#/page1/pageeuro">
                <img src="img/EURO.png">
                <h2>Euro Member Countries</h2>
                <p>EURO</p>
            </ion-item>
            <ion-item menu-close="" class="item-thumbnail-left" href="#/page1/pageaud">
                <img src="img/AUD.png">
                <h2>Australian Dollar</h2>
                <p>AUD</p>
            </ion-item>
            <ion-item menu-close="" class="item-thumbnail-left" href="#/page1/pagecad">
                <img src="img/CAD.png">
                <h2>Canadian Dollar</h2>
                <p>CAD</p>
            </ion-item>
            <ion-item menu-close="" class="item-thumbnail-left" href="#/page1/pageyen">
                <img src="img/YEN.png">
                <h2>Japanese Yen</h2>
                <p>JPY</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>